{% extends 'base.html.twig' %}

{% block title %}Authors Page{% endblock %}

{% block body %}
    {% if err %}
        <h1>{{ err }}</h1>
    {% else %}
        <h1>Authors List</h1>

        <p>
            Total results: {{ total_results }} |
            Page {{ current_page }} of {{ total_pages }}
        </p>

        {# Search & Sorting form #}
        <form method="get" style="margin-bottom: 15px;">
            <label for="query">Search:</label>
            <input type="text" id="query" name="query" value="{{ query }}" maxlength="50" placeholder="Enter search term">

            <label for="direction">Direction:</label>
            <select name="direction" id="direction">
                <option value="ASC" {% if direction == 'ASC' %}selected{% endif %}>Ascending</option>
                <option value="DESC" {% if direction == 'DESC' %}selected{% endif %}>Descending</option>
            </select>

            <button type="submit">Search</button>
        </form>

        {# Previous & Next page links #}
        <div style="margin-bottom: 15px;">
            {% if show_previous_page %}
                <a href="{{ path('get_authors_page', {
                    page: current_page - 1,
                    query: query,
                    direction: direction,
                    orderBy: orderBy
                }) }}" class="button">Previous</a>
            {% endif %}

            {% if show_next_page %}
                <a href="{{ path('get_authors_page', {
                    page: current_page + 1,
                    query: query,
                    direction: direction,
                    orderBy: orderBy
                }) }}" class="button">Next</a>
            {% endif %}
        </div>

        {# Actual table of authors #}
        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                {% for author in authors %}
                    <tr>
                        <td>{{ author.id }}</td>
                        <td>{{ author.first_name }}</td>
                        <td>{{ author.last_name }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No authors found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
