{% extends 'base.html.twig' %}

{% block title %}Login Page{% endblock %}

{% block body %}
    <div class="user-info">
        {% if err %}
            <h1>{{ err }}</h1>
        {% else %}
            <p><strong>First Name:</strong> {{ user['first_name'] }}</p>
            <p><strong>Last Name:</strong> {{ user['last_name'] }}</p>
            <p><strong>Email:</strong> {{ user['email'] }}</p>
            <p><strong>Gender:</strong> {{ user['gender'] }}</p>
        {% endif %}
    </div>
{% endblock %}
